doctype 5
html
  head
    title Shorty
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/animation.js")
    :stylus
      body
        padding 20px 100px
        font 14px/1.4 'helvetica neue', helvetica, arial, sans-serif
      h1
        font-size 26px
        span
          background url(/images/man.png) no-repeat right
          display inline-block
          padding-right 30px
      h2
        color #444
  body
    h1: span Shorty
    #wrap!= body
